Daily_prices/AMF Aktiefond Asien.xlsx
Daily_prices/AMF Aktiefond Nordamerika.xlsx
Daily_prices/AMF Aktiefond Småbolag.xlsx
Daily_prices/AMF Räntefond Lång.xlsx
Daily_prices/Länsförsäkringar USA Indexnära.xlsx
Daily_prices/SEB Europa Indexnära C EUR.xlsx
Daily_prices/SEB Korträntefond C USD - Lux.xlsx
Daily_prices/SEB Realräntefond D SEK.xlsx
Daily_prices/SEB sveriges indexfond.xlsx
Daily_prices/SEB USA Indexnära D USD.xlsx
Daily_prices/Skandia Europa Exponering.xlsx
Daily_prices/Skandia USA.xlsx
Daily_prices/Spiltan aktiefond.xlsx
Daily_prices/Storebrand Europa A SEK.xlsx
Daily_prices/Swedbank Robur Fastighet A.xlsx
__pycache__/fundOptim.cpython-310.pyc
Daily_prices/Spiltan aktiefond investmenbolag.xlsx
Daily_prices/portfolio.xlsx
Daily_prices/.~lock.portfolio.xlsx#
